* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 10px;
    color: #1B1A17;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.container1 {
    max-width: 1241px;
    box-sizing: border-box;
    padding: 0 35px;
    margin: 0 auto;
    overflow: hidden;
}

.container2 {
    max-width: 1066px;
    box-sizing: border-box;
    padding: 0 35px;
    margin: 0 auto;
}

h2 {
    font-family: "Playfair Display", sans-serif;
    font-size: 3.2em;
    font-weight: 400;
    line-height: 1.33;
    margin: 0;
    padding: 0;
}

button {
    background-color: transparent;
    overflow: hidden;
    cursor: pointer;
    border: none;
}

a {
    text-decoration: none;
    color: unset;
}

ul {
    list-style-type: none;
}

.low-res {
    display: none !important;
}

@media (max-width: 999px) and (min-width: 769px) {
    .low-res {
        display: block !important;
    }
}

// HEADER

header {
    background-color: #FDFDFB;
}

.header__top-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 87px;
}

.logo {
    height: 26px;
}

.nav__list {
    display: flex;
    column-gap: 65px;
    margin: 0 25px;
}

.nav__list-item {
    font-size: 1.4em;
    line-height: 1.6em;
    position: relative;
    transition: all ease-in 0.2s;
}

.nav__list-item:hover {
    transform: translate(0, -3px);
}

// .nav__list-item:hover::after {
//     content: "";
//     position: absolute;
//     display: block;
//     background-color: #555248;
//     height: 1px;
//     left: 0; right: 0;
//     top: 100%;
// }

.nav__link {
    color: #555248;
}

.actions {
    display: flex;
    column-gap: 23px;
}

.action-item {
    transition: all ease-in 0.2s;
}

.action-item:hover {
    transform: translate(0, -3px);
}

.header__search, .header__wishlist, .header__cart {
    height: 16px;
}

// MOBILE MENU

.menu-button {
    display: none;
    position: absolute;
    top: 20px; right: 15px;
    z-index: 9;
}

.menu-lines {
    display: flex;
    height: 20px;
    width: 30px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu-line {
    height: 12%;
    width: 100%;
    border-radius: 6vh;
    background-color: #1B1A17;
    opacity: 0.6;
    transition: all ease 0.4s;
}

.menu-button:hover {
    .menu-line {
        opacity: 1;
    }
}

.menu-lines.open {
    .line-middle {
        transform: translate(50%, 0);
        width: 0;
      }
      
      .line-upper {
        transform: rotate(45deg) translate(7px, 6px);
        opacity: 1;
      }
      
      .line-lower {
        transform: rotate(-45deg) translate(7px, -6px);
        opacity: 1;
      }
}

.mobile-menu {
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    top: 0;
    right: -80%;
    width: 80%;
    height: 100vh;
    background-color: #FDFDFB;
    z-index: 2;
    padding: 70px 30px 40px 30px;
    box-sizing: border-box;
    transform-origin: 0% 0%;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.mobile-menu.open {
    transform: translate(-100%, 0);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.nav__list__mobile {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: end;
    gap: 30px;
    font-size: 2em;
    text-transform: uppercase;
    margin: 0;
}

.nav__list-item__mobile:hover {
    opacity: 0.6;
}

.actions__mobile {
    display: flex;
    gap: 50px;
    height: unset;
}

.action-item__mobile {
    transform: scale(1.2);
    margin: 0 auto;
}

.action-item__mobile:hover {
    opacity: 0.6;
}

// BANNER

.header-banner {
    max-height: 768px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.header-banner__text-wrapper {
    z-index: 1;
}

.header-banner__title, .banner-tagline {
    font-family: "Playfair Display", sans-serif;
    font-size: 4.5em;
    font-weight: 400;
    line-height: 60px;
}

.header-banner__title {
    position: relative;
}

.header-banner__title::before {
    content: "";
    display: block;
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: #8B8371;
    top: 36px; left: -65px;
}

.header-banner__tagline {
    font-size: 3em;
    margin-top: 16px;
    line-height: 40px;
}

.header-banner__message {
    margin-top: 39px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.4em;
    line-height: 21px;
    width: 258px;
}

.cat-button {
    height: 64px;
    width: 205px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: white;
    background-color: #444240;
    margin: 64px 0 0 0;
    transition: all ease-in 0.2s;
}

.cat-button:hover {
    opacity: 0.9;
}

.cat-button:active {
    position: relative;
    top: 2px;
}

.header-banner__image {
    margin: 0;
    padding-top: 20px;
    position: relative;
    z-index: 0;
}

.header-banner__image::before {
    content: "";
    position: absolute;
    top: 30px; bottom: 0;
    left: -42%; right: 0;
    z-index: -1;
    background-image: url("./img/Ellipse.png");
    background-repeat: no-repeat;
    background-size: contain;
}

.header-banner__line {
    width: 50px;
    height: 1px;
    border-top: 1px solid #8B8371;
    margin: 0 6px;
}

.header-banner__image-price, .header-banner__image-details {
    display: flex;
    align-items: center;
    font-family: Prata;
    font-size: 16px;
    font-weight: 400;
    line-height: 2.2em;
    position: absolute;
}

.header-banner__image-price {
    top: 20%; left: -14%;
}

.header-banner__image-details {
    bottom: 16.5%; right: -13%;
}

.header-banner__image-price p:after {
	content: ' \20BD';
    font-size: 1em;
}

// ITEMS

.pop-models {
    text-align: center;
    margin: 79px 0 52px 0;
    position: relative;
}

.pop-models__watch-all {
    position: absolute;
    font-weight: 500;
    color: #444240;
    font-size: 1.6em;
    border-bottom: 1px solid #C4C0B6;
    padding-bottom: 12px;
    top: 36px; right: 0;
    transition: all ease-in 0.2s;
}

.pop-models__watch-all:hover {
    transform: translate(0, -2px);
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 30px;
    margin-bottom: 86px;
}

// ITEM CARDS

.item-ref {
    display: block;
}

.item-card {
    position: relative;
    display: block;
    width: 370px;
    height: 467px;
    background-color: #FDFDFB;
    background-image: url("./img/Ellipse_item.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85%;
    transition: all ease-in 0.2s;
}

.item-card:hover {
    transform: translate(0, -10px);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

@media (max-width: 1257px) and (min-width: 1000px) {
    .item-card {
        width: 284px;
        height: 400px;
        background-position-y: 80px;
    }
}

@media (max-width: 840px) and (min-width: 769px) {
    .item-card {
        width: 284px;
        height: 400px;
        background-position-y: 80px;
    }
}

.item-card h3 {
    font-family: "Playfair Display", sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 40px 40px 0 40px;
    text-transform: uppercase;
    color: rgba(27, 26, 23, 0.82);

}

.item-card__price {
    font-family: "Prata", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin: 10px 40px 0 40px;
}

.item-card__price:after {
	content: ' \20BD';
}

.item-card img {
    object-position: 28px;
    width: 85%;
}

.item-card__details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Playfair Display;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
    position: absolute;
    bottom: 40px; left: 40px;
}

.item-card__line {
    width: 30px;
    height: 1px;
    border-top: 1px solid #8B8371;
    margin: 0 18px 0 0;
}

// MIDDLE BANNER

.middle-banner {
    background: url("./img/lines_banner.png"), linear-gradient(to right, #F7F5EF 34%, #FDFDFB 34%);
    background-repeat: no-repeat;
    background-position: bottom right;
}

.middle-banner__wrapper {
    display: flex;
    align-items: center;
    column-gap: 70px;
    height: 519px;
}

.middle-banner__text-wrapper {
    width: 376px;
}

.middle-banner__text-wrapper p {
    margin-top: 38px;
    font-size: 1.6em;
    line-height: 1.5;
}

.light-button {
    background-color: #D4B098;
}

.middle-banner__gallery {
    position: relative;
}

.middle-banner__image {
    max-height: 414px;
}

.middle-banner__gallery-buttons {
    position: absolute;
    display: flex;
    align-items: center;
    column-gap: 20px;
    bottom: -32px; right: 83px;
}

.middle-banner__gallery-buttons button {
    transition: all ease-in 0.2s;
}

.middle-banner__gallery-buttons button:hover {
    transform: scale(1.7);
}

.middle-banner__gallery-buttons button:active {
    transform: scale(1.7) translate(0, 1px);
}

.middle-banner__gallery-buttons p {
    font-family: "Prata", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

// FOLLOW US BLOCK

.follow-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    min-height: 460px;
    margin: 81px 0;
}

.follow__text-wrapper {
    max-width: 475px;
}

.follow__title {
    margin-top: 30%;
}

.follow__message {  
    font-size: 1.6em;
    line-height: 1.69;
    max-width: 376px;
    margin-top: 9%;
    margin-bottom: 26%;
}

.socials {
    display: flex;
    align-items: baseline;
    column-gap: 18px;
    margin-bottom: 13%;
}

.follow-link {
    transition: all ease-in 0.2s;
}

.follow-link:hover {
    transform: scale(1.2) translate(0, -3px);
}

.follow-gallery__container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 10px;
    justify-items: center;
    max-width: 629px;
    max-height: 460px;
}

.follow-gallery__img {
    object-fit: cover;
    width: 100%;
    max-width: 242px;
    transition: all ease-in 0.2s;
}

.follow-gallery__img:hover {
    transform: translate(0, -5px);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.4);
}

.follow-gallery__img-big {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
    max-width: 377px;
}

// FOOTER
footer {
    background-color: #444240;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    min-height: 275px;
    gap: 30px;
    color: white;
    padding-top: 67px;
    box-sizing: border-box;
}

.footer-element {
    padding-top: 12px;
    min-width: 130px;
}

.footer-element h3 {
    font-size: 1.4em;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    margin-bottom: 33px;
}

.footer-element-logo ul {
    margin-top: 23px;
}

.footer-element li, .footer-element-logo li {
    font-size: 1.2em;
    line-height: 1.17;
    margin-top: 15px;
    transition: all ease-in 0.2s;
}

.footer-element a {
    color: white;
}

.footer-element li:hover {
    transform: translate(0, -2px);
}

// MOBILE

@media (max-width: 768px) {

    body {
        font-size: 8px;
    }

    .container1, .container2 {
        padding: 0 15px;
    }

    .header__top-row {
        height: 15px;
        padding-top: 10px;
    }

    .menu-button {
        display: block;
    }

    .logo {
        position: absolute;
        top: 20px; left: 15px;
    }

    .nav {
        display: none;
    }

    .actions {
        display: none;
    }

    .header-banner {
        flex-direction: column-reverse;
        max-height: unset;
    }
    
    .header-banner__image {
        height: 300px;
    }

    .header-banner__image::before {
        bottom: 9px;
    }

    .header-banner__line {
        width: 20px;
    }

    .header-banner__image-price, .header-banner__image-details {
        font-size: 10px;
    }

    .header-banner__image-details {
        right: -25%;
    }

    .header-banner__text-wrapper {
        text-align: center;
    }

    .header-banner__title {
        font-size: 4em;
    }

    .header-banner__message {
        margin: 0 auto;
    }

    .header-banner__title::before {
        width: 20px;
        top: 32px; left: -6px;
    }

    .header-banner__tagline {
        margin-top: 0;
    }

    .header-banner__message {
        margin-top: 20px;
    }

    .cat-button {
        margin: 40px;
    }

    .pop-models {
        margin: 30px 0 20px 0;
    }

    .pop-models__watch-all {
        display: block;
        top: 1390px; right: 50%;
        transform: translate(50%, 0);
        padding: 10px;
        border: 1px solid #C4C0B6;
        border-radius: 10px
    }

    .items {
        flex-direction: column;
        align-content: center;
        margin-bottom: 140px;
    }

    .item-card {
        width: 290px;
        height: 415px;
    }
    

    .middle-banner__wrapper {
        flex-direction: column;
        align-content: center;
        height: unset;
        padding: 30px 0;
    }

    .middle-banner__gallery {
        margin-bottom: 40px;
    }

    .middle-banner__text-wrapper {
        text-align: center;
        width: unset;
    }

    .follow-container {
        flex-direction: column-reverse;
    }

    .follow__text-wrapper {
        text-align: center;
    }

    .follow__title {
        margin-top: unset;
    }

    .follow__message {
        margin-bottom: 60px;
    }

    .socials {
        margin: 0;
        justify-content: center;
    }

    .footer-container {
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }

    .footer-element h3 {
        margin-bottom: 20px;
    }
}